* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

h1 {
  color: palevioletred;
}

.container-lg {
  background-color: white;
  margin-top: 2rem;
}